﻿@using Blog.Models
@model Blog.Models.Tag
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Generate</title>
</head>
    <body>
        TAG<br/>
        <div>
            ID: @Model.Id<br />
            Posts
            <br />


                Id <span></span>
                Title<span></span>
                Tags.Count<span></span>
                Tags.Id<span></span>
                Tags.Name<span></span>
                <br/>
            @foreach (Post t in @Model.Posts)
            {
                @t.Id <span></span>
                @t.Title<span></span>
                @t.Tags.Count<span></span>
                @t.Tags.First().Id<span></span>
                @t.Tags.First().Name<span></span>
            <br/>
            }
            @*Title: @Model.Title<br />
        Tags.Count: @Model.Tags.Count<br />*@
        </div>
    </body>
</html>
