﻿@model Blog.Models.Items.Post
@{
    ViewBag.Title = "Details";
}
<!-- Begin Standard Format -->
<div class="post format-standard box">
    <h2 class="title">
        @Html.ActionLink(Model.Title, "Post", new { id = Model.Id }) @Model.Id
    </h2>
    @Model.ShortDescription
    <div class="details">
        <span class="icon-standard"><a href="#">@Model.PostedOn</a></span> <span class="likes">
            <a href="#" class="likeThis">11</a></span> <span class="comments"><a href="#">0</a></span>
    </div>
</div>
<!-- End Standard Format -->
